<%- include("./header"); %>
<link rel="stylesheet" href="/home.css">
<script>

	
</script>
<div class="container">
    <div class="flex">
            <a href="/projects/Arts"><div class="category">Arts</div></a>
            <a href="/projects/Comics"><div class="category">Comics</div></a>
            <a href="/projects/Tech"><div class="category">Tech</div></a>
            <a href="/projects/Film"><div class="category">Film</div></a>
            <a href="/projects/Food"><div class="category">Food</div></a>
            <a href="/projects/Games"><div class="category">Games</div></a>
            <a href="/projects/Music"><div class="category">Music</div></a>
    </div>
</div>
<div class="image1">
    <img src="/rawpixel-771313-unsplash.jpg" width = "100%" height= "100%" alt="crowdfunding">
	<div class="chatbot" >
		<i class="far fa-comments"></i>
	</div>
	<iframe width="350" height="430" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/b07ecc88-47dc-40da-9d7f-425575317fb3" id="ifr"></iframe>
</div>
<script>
	document.querySelector(".chatbot").addEventListener("mouseover",function(){
		var ifr = document.getElementById("ifr")
		ifr.style.display = "block";
	})
	document.querySelector("#ifr").addEventListener("mouseout",function(){
		var ifr = document.getElementById("ifr")
		ifr.style.display = "none";
	})
	function Hide(){
		var ifr = document.getElementById("ifr")
		ifr.style.display = "none";
	}
	Hide()
</script>
<%- include("./footer"); %>