.name{
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
	font-size:1.5em;
	margin-top:4px;
}
.desc{
	font-size:1.3em;
	text-align:justify;
}
.pledge{
	margin-left:4%;
	font-size:20px;
}
.comments-toggle{
	font-size:1.3em;
}
.comment-form{
	text-align:center;
	margin-bottom:20px;
}
.comment{
	font-size:1.2em;
	border-left-style:solid;
	border-left-width:5px;
	border-color:#ccccff;
	padding:5px;
}
.comment-author{
	font-size:1.2em;
	font-weight:bold;
}