<% include header.ejs %>
<link rel="stylesheet" href="/home.css">
<div class="container">
    <div class="flex">
            <a href="/projects/Arts"><div class="category">Arts</div></a>
            <a href="/projects/Comics"><div class="category">Comics</div></a>
            <a href="/projects/Tech"><div class="category">Tech</div></a>
            <a href="/projects/Film"><div class="category">Film</div></a>
            <a href="/projects/Food"><div class="category">Food</div></a>
            <a href="/projects/Games"><div class="category">Games</div></a>
            <a href="/projects/Music"><div class="category">Music</div></a>
    </div>
</div>
<div class="image1">
    <img src="/rawpixel-771313-unsplash.jpg" width = "100%" height= "100%" alt="crowdfunding">
</div>
<% include footer.ejs %>